* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: #4F4F4F;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 10px;
    font-family: 'Source Code Pro', monospace;
  }

  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }

    .contato .container {
      min-height: 60vh;
    }
  }
  
  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }
  
  @media (min-width: 1200px) {
    body {
      font-size: 18px;
    }
  }

  html {
    scroll-behavior: smooth;
  }

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .menu {
    background-color: #1C1C1C;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  .menu a {
    display: block;
    padding: 20px 20px;
  }

  .menu a:active,
  .menu a:hover {
    background-color: gray;
    border-radius: 30px;
  }

  a {
    color:white;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
  }

  .titulos {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;

    animation: linear 1.5s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo {
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
    color: black;
  }
  
  .site-title {
    font-size: 3em;
    font-family: 'Audiowide', cursive;
    padding-top: 2em;
  }
  .site-subtitle {
    font-family: 'Bungee Shade', cursive;
    line-height: 1em;
  }

  .sobre,
  .contato,
  .portfolio {
    padding: 5em;
    padding-bottom: 2em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .sobre .avatar img {
    clip-path: circle(50% at 50% 50%);
  }

  .sobre .avatar {
    float: right;
    margin-left: 1.5em;
  }

  @media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  }

  .sobre h2,
  .contato h2,
  .portfolio h2 {
    font-family: 'Comfortaa', cursive;
    margin-bottom: 2em;
    font-size: 1.6em;
    width: fit-content;
    color: whitesmoke;
    background-color: black;
  }

  .sobre p {
    color:whitesmoke;
    margin-bottom: 1.2em;
    text-indent: 2em;
    text-align: justify;
  }

  .sobre a {
    font-family: 'Source Code Pro', monospace;
    text-decoration: underline;
  }

  .sobre a:active,
  .sobre a:hover {
    text-decoration: none;
    background-color: black;
  }
  
  .portfolio .grid {
    display: grid;
    gap: 4em;
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 300px 300px;}
    .texto {
      align-content: center;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3), 300px;
      align-content: center;
      justify-content: center;
      height: calc(100vh - 5em - 70px - 2em);
    }
  }

  .portfolio figure {
    text-align: center;
  }

  .img-portfolio {
    height: 160px;
    width: 100%;
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.2);
  }

  figcaption {
    margin-top: 12px;
    color: whitesmoke;
  }

  .contato a {
    color: black;
    font-size: 5em;
  }

  .contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 20px whitesmoke;
  }

  .contato .icons {
    display: grid;
    grid-template-columns: 200px;
    justify-content: center;
    align-content: center;
  }

  .contato .icons a {
    margin: 13px;
  }

  .contato .grid a {
    text-align: center;
  }

  footer {
    text-align: center;
  }

  footer a {
    background-color: black;
    font-family: 'Source Code Pro', monospace;
  }
  
  footer a:active,
  footer a:hover {
    text-decoration: underline;
  }

  .destaque {
    background-color: #E5E0E0;
    color: black;
  }

  footer p {
    font-size: 1em;
    color: whitesmoke;
  }